{% extends 'careers/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Создать резюме | Джуманджи{% endblock %}

{% block style %}

    body {
    background-color: #F6F2E6;
    }
{% endblock %}

{% block container %}

    <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
        <div class="card-body px-3 pb-4">
            <h1 class="h4 pt-2 pb-3">Мое резюме</h1>
            <p class="alert alert-info" role="alert">Ваше резюме обновлено!</p>
            <form action="myresume" method="post">{% csrf_token %}
                {{ form|crispy }}
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Сохранить">
                </div>
            </form>
        </div>
    </section>
{% endblock %}